#maincontent{
    width: 50%;
    margin: 0 auto;
}


.title
{
    background-color: #f142f4;
    padding: 30px;
    margin: 50px;
    
}

.buttonSection{
    background-color:#4b74b7;
    width: 300px;
}
.edit{ 
    background-color: #4f9b56;
    color: #fff;
    padding: 5px;
}
.delete{
    background-color: red;
    color: #fff;
    padding: 5px;
}

.mainlist p {
    display: inline;
    
}

.mainlist li { 
    margin-bottom: 25px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
