<h1>I am Feeza</h1>
<html>
<head> 
<title> Todo List </title>
<link rel="stylesheet" type= "tex/css" src="Stylecsss">
</head>
   
   <body>
<hl> To Do List </h1>
<ul>
<li> 
complete homework assignments 
</li>
<li> 
be on time for practice
</li>
<li> 
meet with tutor 
</li>
<li>
clean my bedroom
</li>
<li>
   apply for internships 
</li>
</ul>

   </body>
   
   
   </html>